.thisWeekPosts{
    display: flex;
    width:68vw;
    min-height: 65vh;
    flex-wrap:wrap;
    margin-left:32%;
}

@media screen and (max-width:768px){
    .thisWeekPosts{
        width:100vw;
        margin-left:0px;
    }
}